/* 
    Buttons
*/
.btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    padding: .6rem 1rem;
    border-radius: 5px;
    outline: none;
    transition: .2s;
    user-select: none;
    text-align: center;
    width: max-content;
    cursor: pointer;
}

.btn.btn-full {
    display: block;
    width: 100%;
}

.btn:hover {
    background-color: var(--primary-color-800);
}

/* 
    Features
*/
.feature {
    --card-background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feature .feature-icon {
    --card-width: 110px;
    width: var(--card-width);
    height: var(--card-width);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--card-background-color);
}

.feature .feature-icon img {
    width: 50%;
}

.feature .feature-name {
    font-size: 1.2rem;
}

/* 
    Cards
*/

/* Card Image */
.card-img {
    position: relative;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 3px rgba(0,0,0,0.1);
}

.card-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    opacity: 0;
    transition: .2s;
}

.card-img:hover::after {
    opacity: 1;
}

.card-img img {
    width: 100%;
    transition: .2s;
}

.card-img:hover img {
    transform: scale(1.1);
}
